<mat-toolbar>
  <div class="footer">
    <ul class="contacts">
      <h3>Company</h3>
      <hr>
      <li>
        <a class="link_item" href="https://github.com/koksha19">GitHub</a>
      </li>
      <li>
        <a class="link_item" href="https://www.linkedin.com/in/levbereza/">LinkedIn</a>
      </li>
      <li>
        <a class="link_item" href="https://www.instagram.com/lev.bereza/">Instagram</a>
      </li>
    </ul>
    <ul class="contacts">
      <h3>Contact me</h3>
      <hr>
      <li>
        <a class="link_item" href="tel: +380666897973">+38(066)-689-79-73</a>
      </li>
      <li>
        <a class="link_item" href="mailto: lev.bereza@gmail.com">lev.bereza&#64;gmail.com</a>
      </li>
      <li>
        <a class="link_item" href="https://t.me/levbereza">Telegram</a>
      </li>
    </ul>
  </div>
</mat-toolbar>

