mat-toolbar {
  background-color: #4b82f1;
  height: 300px;
}

.footer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.contacts {
  list-style-type: none;
  color: white;
}

.link_item {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 500px) {
  mat-toolbar {
    height: 400px;
  }

  .footer {
    display: grid;
  }
}
