<div class="product-card" [ngClass]="{ 'with-buttons': isAdminRoute }">
  <img src="{{product().image}}" alt="Guitar">
  <h2>{{product().title}}</h2>
  <p>${{product().price}}</p>
  <p>Stock: {{product().stock}}</p>
  <div *ngIf="isAdminRoute">
    <a class="edit-btn" mat-raised-button [routerLink]="['/admin/edit-product', product()._id]" (click)="stopPropagation($event)">Edit</a>
    <button class="delete-btn" mat-raised-button (click)="onDelete(product()._id, $event)">Delete</button>
  </div>
</div>
