mat-toolbar {
  background-color: #4b82f1;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 3px 3px #656464;
}

.main-navigation {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 1rem 0 1rem;
}
