mat-toolbar {
  width: 100%;
  background-color: #4b82f1;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 1rem 0 1rem;
}

a:hover {
  color: #ffdd57;
}

.active {
  color: #ffdd57;
}

.menu-button {
  display: none;
  color: white;
  background: #4b82f1;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1080px) {
  .nav-links, auth-links {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
