<div class="form">
  <h2>Add product</h2>
  <form class="form-item" [formGroup]="productForm" (ngSubmit)="onCreateProduct()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
      <mat-error *ngIf="productForm.get('title')?.hasError('required')">
        Title is required
      </mat-error>
      <mat-error *ngIf="productForm.get('title')?.hasError('minlength')">
        Title must be at least 3 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price">
      <mat-error *ngIf="productForm.get('price')?.hasError('required')">
        Price is required
      </mat-error>
      <mat-error *ngIf="productForm.get('price')?.hasError('min')">
        Price must be at least 1
      </mat-error>
    </mat-form-field>

    <div>
      <p>Delivery Options</p>
      <span>
          <mat-checkbox
            [checked]="delivery().checked"
            [indeterminate]="partiallyComplete()"
            (change)="update($event.checked)">
            {{delivery().name}}
          </mat-checkbox>
        </span>
      <span class="example-list-section">
          <ul>
            @for (option of delivery().options; track option; let i = $index) {
              <li>
                <mat-checkbox [checked]="option.checked" (change)="update($event.checked, i)">
                  {{option.name}} - ${{option.price}}
                </mat-checkbox>
              </li>
            }
          </ul>
        </span>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="productForm.get('description')?.hasError('required')">
        Description is required
      </mat-error>
      <mat-error *ngIf="productForm.get('description')?.hasError('minlength')">
        Description must be at least 50 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Stock</mat-label>
      <input matInput type="number" formControlName="stock">
      <mat-error *ngIf="productForm.get('stock')?.hasError('required')">
        Stock is required
      </mat-error>
      <mat-error *ngIf="productForm.get('stock')?.hasError('min')">
        Stock must be at least 1
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Select image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)" accept="image/png,image/jpg,image/jpeg">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" alt="Image preview">
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">
      Add Product
    </button>
  </form>
</div>
