.order {
  display: flex;
  width: 90%;
  margin: 15px auto;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.order:hover {
  transform: scale(1.02);
}

.order img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #dedede;
}

.order div {
  display: flex;
  margin: 0 15px 0 15px;
  flex-direction: column;
}

.order h2 {
  margin: 0;
  color: #333;
}

.order p {
  margin: 4px 0;
  color: #666;
}

.order p:last-child {
  font-weight: bold;
  color: #4b82f1;
}

@media (max-width:500px) {
  .order {
    width: 80%;
  }
}
