<div class="order">
  <div class="customer">
    <h2>Customer: {{order().customer.customer}}'s order - {{order()._id}}</h2>
    <p>Customer address: {{order().customer.address}}</p>
    <p>Contact phone: {{order().customer.phone}}</p>
    <p>Contact name: {{order().customer.contactName}}</p>
  </div>
  <div class="products">
    <div *ngFor="let product of order().products" class="product">
      <div class="image">
        <img [src]="product.product.image" alt="Product">
      </div>
      <div class="info">
        <p>Product: {{product.product.title}}</p>
        <p>Delivery type: {{product.delivery.name}} - ${{product.delivery.price}}</p>
        <p>Quantity: {{product.quantity}}</p>
      </div>
    </div>
    <div>
      <p>Order price: <b>${{totalPrice}}</b></p>
      <p>{{order().date.split('T')[0]}}</p>
    </div>
  </div>
</div>


