<div class="order">
  <div>
    <h2>Customer: {{order().customer.customer}}'s order - {{order()._id}}</h2>
    <p>Customer address: {{order().customer.address}}</p>
    <p>Contact phone: {{order().customer.phone}}</p>
    <p>Contact name: {{order().customer.contactName}}</p>
  </div>
  <div *ngFor="let product of order().products">
    <div>
      <img src="{{product.product.image}}" alt="Product">
    </div>
    <p>Product: {{product.product.title}}</p>
    <p>Delivery type: {{product.delivery.name}}</p>
    <p>Quantity: {{product.quantity}}</p>
  </div>
  <div>
    <p>Order price: ${{totalPrice}}</p>
    <p>{{order().date}}</p>
  </div>
</div>


