h1 {
  justify-self: center;
}

.product-list {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

mat-paginator {
  background-color: #ffffff;
  padding: 0;
  justify-self: center;
  margin-bottom: 1rem;
}

